@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.overlay {
    z-index: 1000;
    position: fixed;
	top: 0; bottom: 0;
	left:0; right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: rgba(0, 0, 0, .32);

    &.hide {
        display: none;
    }

    .modal {
        display: flex;
        flex-direction: column;
        background: $bg-color;
        border-radius: rem(6);
        min-width: rem(280);
        max-height: 100vh;
        overflow: auto;
    }
}

:global(.modalOpened) {
    overflow: hidden;
}
