$theme: rgb(0, 122, 255) !default;
$on-theme: #fff !default;
$theme100: #0071f3a1 !default;

$text-color: #333;

$bg-color: var(--bg-color) !default; /* #fff !default; */
$bg-color-tp: hsla(0, 0%, 100%, 0.65) !default;

$blue: rgb(0, 122, 255) !default;
$green: rgb(52, 199, 89) !default;
$indigo: rgb(88, 86, 214) !default;
$orange: rgb(255, 149, 0) !default;
$pink: rgb(255, 45, 85) !default;
$purple: rgb(175, 82, 222) !default;
$red: rgb(255, 59, 48) !default;
$teal: rgb(90, 200, 250) !default;
$yellow: rgb(255, 204, 0) !default;

$gray: rgb(142, 142, 147) !default;
$gray-2: rgb(174, 174, 178) !default;
$gray-3: rgb(199, 199, 204) !default;
$gray-4: rgb(209, 209, 214) !default;
$gray-5: rgb(229, 229, 234) !default;
$gray-6: rgb(242, 242, 247) !default;
